HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/Server/target/
/Server/docker-compose.yml
/Server/Dockerfile



*.iml
Client/.gradle
Client/local.properties
Client/.idea/caches
Client/.idea/libraries
Client/.idea/modules.xml
Client/.idea/workspace.xml
Client/.idea/navEditor.xml
Client/.idea/assetWizardSettings.xml
Client/.DS_Store
Client/build
Client/captures
Client/.externalNativeBuild
Client/.cxx
Client/local.properties


















